<nb-card>
  <nb-card-header style="color: white; background-color: #7e002e">
    CRITERIOS DE BUSQUEDA
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha inicio
            </span>
      </div>
      <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
        <input nbInput placeholder="Fecha inicio" [nbDatepicker]="datFecha1" [(ngModel)]="this.Fecha1">
        <nb-datepicker #datFecha1></nb-datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha fin
            </span>
      </div>
      <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
        <input nbInput placeholder="Fecha fin" [nbDatepicker]="datFecha2" [(ngModel)]="this.Fecha2">
        <nb-datepicker #datFecha2></nb-datepicker>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <button nbButton status="basic" size="large" shape="semi-round" (click)="obtenerDatos()" style="border-color: #7e002e; border-width: revert" fullWidth>
          Consultar
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card style="height: 580px">
  <nb-card-body>
    <nb-flip-card>
      <nb-card-front>
        <nb-card>
          <nb-card-body>
            <nb-card  [nbSpinner]="this.spinnerLoading"  nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Recuperando datos...">
              <nb-card-header style="color: white; background-color: #7e002e">
                <i class="fas fa-tasks"></i>
                Firmas diarias
              </nb-card-header >
              <nb-card-body>
                <ng2-smart-table [settings]="tableConfig" [source]="tableSource"></ng2-smart-table>
              </nb-card-body>
              <nb-card-footer>
                <div class="row">
                  <div class="col">
                    <button nbButton status="basic" size="large" shape="semi-round"
                            (click)="obtenerDatos()" style="border-color: #7e002e; border-width: revert" fullWidth>
                      Consultar
                    </button>
                  </div>
                </div>
              </nb-card-footer>
            </nb-card>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <br>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div echarts [options]="this.chartDataAsignadosParaAnalisis" class="demo-chart">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div echarts [options]="this.chartDataEnAnalisis" class="demo-chart">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div echarts [options]="this.chartDataAnalizados" class="demo-chart">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div echarts [options]="this.chartDataEstatal" class="demo-chart">
              </div>
            </div>
          </div>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </nb-card-body>
</nb-card>
