<nb-card>
  <nb-card-header>
    <span>
      Reportes <i class="fas fa-chevron-right"></i>
    </span>
    <span>
      Volantes Analizados <i class="fas fa-chevron-right"></i>
    </span>
    <span>
      Mexicali
    </span>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <!--PESTAÑA ESTATUS-->
      <nb-tab tabTitle="Estatus" tabIcon="file-text-outline" responsive>
        <!--FILTRO DE FECHAS-->
        <nb-card status="info">
          <nb-card-header style="color: white; background-color: #7e002e">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
                CRITERIOS DE BUSQUEDA
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10" style="text-align: right">
                <button class="mb-1" nbTooltip="Descargar" nbTooltipIcon="download-outline" style="width: 150px" nbButton status="success" size="giant" shape="semi-round" [disabled]="this.habilitarBotonCSV1"
                        (click)="downloadCSV(this.tableSourceCon1MXL, 'Concentrado1')">
                  <i class="fas fa-file-csv" style="font-size: 28px"></i>

                  <span class="ml-2">
                CSV
              </span>
                </button>
              </div>
            </div>
          </nb-card-header>

          <nb-card-body>
            <br>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha inicio
            </span>
              </div>
              <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                <input nbInput placeholder="Fecha inicio" [nbDatepicker]="datFecha1Estatus" [(ngModel)]="this.Fecha1">
                <nb-datepicker #datFecha1Estatus></nb-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha fin
            </span>
              </div>
              <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                <input nbInput placeholder="Fecha fin" [nbDatepicker]="datFecha2Estatus" [(ngModel)]="this.Fecha2">
                <nb-datepicker #datFecha2Estatus></nb-datepicker>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <button nbButton status="basic" size="large" shape="semi-round" (click)="obtenerDatosCon1MXL()" style="border-color: #7e002e; border-width: revert" fullWidth>
                  Consultar
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <!--GRAFICA DE BARRAS-->
        <nb-card>
          <nb-card-header style="color: white; background-color: #7e002e">
            GRAFICA DE BARRAS
          </nb-card-header>
          <br>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div echarts [options]="this.chartDataBarrasCo1MXL" class="demo-chart">
              </div>
            </div>
          </div>
        </nb-card>
        <!--TABLA DE DATOS-->
        <nb-card  [nbSpinner]="this.spinnerLoadingCon1MXL"  nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Recuperando datos...">
          <nb-card-header style="color: white; background-color: #7e002e">
            <i class="fas fa-tasks"></i>
            Estatus
          </nb-card-header >
          <nb-card-body>
            <ng2-smart-table  [settings]="tableConfigCon1MXL" [source]="tableSourceCon1MXL"></ng2-smart-table>
          </nb-card-body>
          <nb-card-footer>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end">
                <button nbButton status="basic" size="large" shape="semi-round" (click)="obtenerDatosCon1MXL()" fullWidth
                        style="border-color: #7e002e; border-width: revert">
                  Consultar
                </button>
              </div>
            </div>
          </nb-card-footer>
        </nb-card>
      </nb-tab>

      <!--PESTAÑA TIPO DE TRAMITE-->
      <nb-tab tabTitle="Tipo de trámite" tabIcon="file-text-outline" responsive>
        <!--FILTRO FECHAS-->
        <nb-card status="info">
          <nb-card-header style="color: white; background-color: #7e002e">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
                CRITERIOS DE BUSQUEDA
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10" style="text-align: right">
                <button class="mb-1" nbTooltip="Generar excel.csv" style="width: 150px" nbButton status="success" size="giant" shape="semi-round" [disabled]="this.habilitarBotonCSV2"
                        (click)="downloadCSV(this.tableSourceCon2MXL, 'Concentrado2')">
                  <i class="fas fa-file-csv" style="font-size: 28px"></i>

                  <span class="ml-2">
                CSV
              </span>
                </button>
              </div>
            </div>
          </nb-card-header>

          <nb-card-body>
            <br>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha inicio
            </span>
              </div>
              <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                <input nbInput placeholder="Fecha inicio" [nbDatepicker]="datFecha1TipoDeTramite" [(ngModel)]="this.Fecha1">
                <nb-datepicker #datFecha1TipoDeTramite></nb-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha fin
            </span>
              </div>
              <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                <input nbInput placeholder="Fecha fin" [nbDatepicker]="datFecha2TipoDeTramite" [(ngModel)]="this.Fecha2">
                <nb-datepicker #datFecha2TipoDeTramite></nb-datepicker>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <button nbButton status="basic" size="large" shape="semi-round" (click)="obtenerDatosCon2MXL()" style="border-color: #7e002e; border-width: revert" fullWidth>
                  Consultar
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <!--GRAFICA DE BARRAS-->
        <nb-card>
          <nb-card-header style="color: white; background-color: #7e002e">
            GRAFICA DE BARRAS
          </nb-card-header>
          <br>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div echarts [options]="this.chartDataBarrasCo2MXL" class="demo-chart">
              </div>
            </div>
          </div>
        </nb-card>
        <!--TABLA DE DATOS-->
        <nb-card  [nbSpinner]="this.spinnerLoadingCon2MXL"  nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Recuperando datos...">
          <nb-card-header style="color: white; background-color: #7e002e">
            <i class="fas fa-tasks"></i>
            Tipo de trámite
          </nb-card-header >
          <nb-card-body>
            <ng2-smart-table [settings]="tableConfigCon2MXL" [source]="tableSourceCon2MXL"></ng2-smart-table>
          </nb-card-body>
          <nb-card-footer>
            <div class="row">
              <div class="col">
                <button nbButton status="basic" size="large" shape="semi-round"
                        (click)="obtenerDatosCon2MXL()" style="border-color: #7e002e; border-width: revert" fullWidth>
                  Consultar
                </button>
              </div>
            </div>
          </nb-card-footer>
        </nb-card>
      </nb-tab>

      <!--PESTAÑA DETALLADO-->
      <nb-tab tabTitle="Detallado" tabIcon="file-text-outline" responsive>
        <!--FILTRO FECHAS-->
        <nb-card status="info">
          <nb-card-header style="color: white; background-color: #7e002e">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
                CRITERIOS DE BUSQUEDA
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10" style="text-align: right">
                <button class="mb-1" nbTooltip="Descargar" nbTooltipIcon="download-outline" style="width: 150px" nbButton status="success" size="giant" shape="semi-round" [disabled]="this.habilitarBotonCSV3"
                        (click)="downloadCSV(this.tableSourceDetalladoMXL, 'Detallado')">
                  <i class="fas fa-file-csv" style="font-size: 28px"></i>

                  <span class="ml-2">
                CSV
              </span>
                </button>
              </div>
            </div>
          </nb-card-header>

          <nb-card-body>
            <br>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha inicio
            </span>
              </div>
              <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                <input nbInput placeholder="Fecha inicio" [nbDatepicker]="datFecha1Detallado" [(ngModel)]="this.Fecha1">
                <nb-datepicker #datFecha1Detallado></nb-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <span>
            Fecha fin
            </span>
              </div>
              <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                <input nbInput placeholder="Fecha fin" [nbDatepicker]="datFecha2" [(ngModel)]="this.Fecha2">
                <nb-datepicker #datFecha2></nb-datepicker>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <button nbButton status="basic" size="large" shape="semi-round" (click)="obtenerDatosDetalladoMXL()" style="border-color: #7e002e; border-width: revert" fullWidth>
                  Consultar
                </button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <!--TABLA DE DATOS-->
        <nb-card  [nbSpinner]="this.spinnerLoadingDetalladoMXL"  nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Recuperando datos...">
          <nb-card-header style="color: white; background-color: #7e002e">
            <i class="fas fa-tasks"></i>
            DETALLADO
          </nb-card-header >
          <nb-card-body>
            <ng2-smart-table [settings]="tableConfigDetalladoMXL" [source]="tableSourceDetalladoMXL"></ng2-smart-table>
          </nb-card-body>
          <nb-card-footer>
            <div class="row">
              <div class="col">
                <button nbButton status="basic" size="large" shape="semi-round"
                        (click)="obtenerDatosDetalladoMXL()" style="border-color: #7e002e; border-width: revert" fullWidth>
                  Consultar
                </button>
              </div>
            </div>
          </nb-card-footer>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
